.notes*
*~
.directory
.Trash-*

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.extra
.gnupg
!.gnupg/gpg*.conf
.i3/logfile

.DS_Store
*.pyc
*.class
*.orig
.vagrant*
.ropeproject
*.log
target/
**/*.rs.bk
Cargo.lock
*.test
*.local
.dqminh-local
.ycm_extra_conf.py
compile_commands.json
.ccls-cache/

*.so
*.svg
.cache
*.o
.editorconfig

tags
.uuid
.vim

mkosi.rootpw
*.pac
.envrc
.idea/

coredumps/
pprof-archive/
.luarc.json
tpm/
zsh-histdb/
