<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.lemonade</string> <!-- org.mongodb.mongodb perhaps? -->

    <key>OnDemand</key>
    <false/>

    <key>UserName</key>
    <string>dqminh</string>

    <key>ProgramArguments</key>
    <array>
            <string>/Users/dqminh/bin/lemonade</string>
            <string>server</string>
            <string>-allow</string>
            <string>127.0.0.1</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
